/* Style for All */

html,
body {
  /* 1rem = 10px */
  font-size: 62.5%;
}
img {
  width: 100%;
  height: auto;
}
body {
  /* font-family: var(--primary-font); */
  font-size: var(--primary-font-size);
  line-height: 1.8;
  color: var(--primary-color);
}
:root {
  --primary-color: #494644;
  --primary-font-size: 1.6rem;
  --secondary-font-size: 1.4rem;
  --color1: #118443;
  --color2: #f21c26;
  --color3: #000000;
  --color4: #045381;
  --color5: #ffffff;
  --color6: #070707;
  --color7: #c4c4c4;
  --font-size13: 1.3rem;
  --font-size18: 1.8rem;
  --font-size24: 2.4rem;
  --font-size26: 2.6rem;
  --line-height19: 1.9rem;
  --line-height22: 2.2rem;
  --line-height27: 2.7rem;
  --line-height38: 3.8rem;
  --font-weight400: 400;
}

/* Menu */
header .navbar-brand {
  width: 24.1rem;
}
header .navbar {
  width: 100%;
}
header .navbar-toggler {
  font-size: 1.8rem;
}
header .navbar-light .navbar-nav .active > .nav-link {
  color: var(--color1);
}
header .languages {
  text-align: center;
  /* border-bottom: 1px solid #c4c4c4; */
}
header .languages a img {
  width: 2.9rem;
}
header .navbar-nav {
  text-align: center;
}
header .navbar-nav li {
  border-bottom: 1px solid #c4c4c4;
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: var(--color1);
}
/* End Menu */

/* Home Carousel */
.section-carousel-banner .carousel .item {
  height: 10rem;
}
.section-carousel-banner .carousel .item img {
  height: 100%;
}
.section-carousel-banner .carousel .owl-nav {
  text-align: center;
}
.section-carousel-banner .carousel .owl-nav .owl-prev {
  margin-right: 0.5rem;
}
.section-carousel-banner .carousel .owl-nav .owl-next {
  margin-left: 0.5rem;
}
/* End Home Carousel */

/* Latest News */
.section-latest-news {
  background-image: url("../img/bg-carousel.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
}
.section-latest-news .header-latest-news {
  text-align: center;
  background-color: var(--color5);
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  width: 80%;
  max-width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.section-latest-news .latest-news img {
  width: 2.4rem;
}
.section-latest-news .latest-news {
  color: var(--color2);
  font-size: var(--font-size13);
  line-height: var(--line-height19);
}
.section-latest-news .latest-news-title h2 {
  color: var(--color3);
  font-size: var(--font-size13);
  line-height: var(--line-height19);
}
.section-latest-news .latest-news-title .datetime {
  color: var(--color2);
  font-size: var(--font-size13);
  line-height: var(--line-height19);
}
.readmore a {
  color: var(--color4);
  font-size: var(--font-size13);
}
.section-latest-news .content-latest-news h2.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.section-latest-news .content-latest-news h2.title img {
  width: 50%;
}
.section-latest-news .content-latest-news h2.title .bottom-line {
  width: 50%;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
}
.section-latest-news .content-latest-news .left p {
  font-size: var(--font-size18);
  line-height: var(--line-height27);
  text-align: justify;
}
/* Circle Home */
.section-latest-news .content-latest-news .left .frame p {
  font-weight: var(--font-weight400);
  text-align: center;
  margin: 1rem 0 0 0;
}
.section-latest-news .content-latest-news .left .frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-big {
  position: relative;
  width: 20rem;
  /* height: 114px; */
  margin: 2rem auto 0;
  text-align: center;
}

.circle-big svg {
  width: 114px;
  height: 114px;
}

.circle-big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: rgba(17, 132, 67, 0.3);
}

.circle-big .progress {
  fill: none;
  stroke-width: 10px;
  stroke: var(--color1);
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}
.circle-big .text {
  position: absolute;
  width: 100%;
  top: 5rem;
  font-size: var(--font-size24);
  text-align: center;
  font-weight: var(--font-weight400);
  line-height: var(--line-height22);
}

.circle-big .text .small {
  font-size: 14px;
  color: #fff;
}
/* End Circle Home */
.section-latest-news .left {
  margin-bottom: 2rem;
}
.readmore {
  text-align: center;
  margin-top: 2rem;
}
.readmore img {
  width: 3rem;
  vertical-align: sub;
}
/* End Latest News */
/* Home Product Company */
/* background: rgba(17, 132, 67, 0.31); */
/* font-family: UTM Aptima;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 38px;
text-align: center; */
.section-home-product .title-section {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}
.section-home-product .title-section h2 {
  display: inline-block;
  font-size: var(--font-size26);
  font-weight: bold;
  line-height: var(--line-height38);
  text-align: center;
  background-color: var(--color5);
  padding: 0 1rem;
}
.section-home-product .title-section span {
  width: 100%;
  border-bottom: 0.1rem solid var(--color7);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.product {
  margin: auto;
}
.product a {
  position: relative;
  width: 14rem;
  height: 12rem;
  display: block;
  margin: auto;
}
.product a .layer {
  position: absolute;
  width: 13rem;
  height: 9.8rem;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(17, 132, 67, 0.31);
}
.product a img {
  width: 12.7rem !important;
  /* height: 14.8rem; */
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  z-index: 3;
}
/* End Home Product Company */
/* 768px */
@media only screen and (min-width: 768px) {
  .section-latest-news .content-latest-news .left .frame {
    flex-direction: row;
  }
  /* Home Carousel */
  .section-carousel-banner .carousel .item {
    height: 100%;
  }
  /* End Home Carousel */
  /* Home Product Company */
  .products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .products .product a {
    width: 22rem;
    height: 12rem;
  }
  .product a .layer {
    width: 17rem;
    height: 11rem;
  }
  .products .product a img {
    width: 18rem !important;
    bottom: -2rem;
    right: 2rem;
  }
  /* End Home Product Company */
}
/* 992px */
@media only screen and (min-width: 992px) {
  header .navbar-collapse {
    border-bottom: 1px solid #c4c4c4;
    margin-left: 3rem;
  }
  header .navbar-nav li {
    border-bottom: unset;
    margin-right: 2rem;
  }
  header .languages {
    border-bottom: unset;
  }
  /* Home Carousel */
  /* .section-carousel-banner .carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  } */
  .section-carousel-banner .carousel .owl-nav .owl-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 3rem;
  }
  .section-carousel-banner .carousel .owl-nav .owl-next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 3rem;
  }
  /* End Home Carousel */
  /* Latest New */
  .section-latest-news .header-latest-news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* width: 90%;
    max-width: 90%; */
  }
  .section-latest-news .header-latest-news .latest-news,
  .section-latest-news .header-latest-news .readmore {
    flex-grow: 1;
  }
  .section-latest-news .header-latest-news .readmore {
    margin-top: 0;
  }
  .section-latest-news .header-latest-news .latest-news-title h2 {
    margin: 0 2rem 0 0;
  }
  .section-latest-news .header-latest-news .latest-news-title {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .section-latest-news .header-latest-news {
    padding: 0.5rem 0;
    margin-bottom: 4rem;
  }
  .section-latest-news .readmore {
    text-align: right;
  }
  .section-latest-news .right {
    padding-top: 1.7rem;
  }
  /* .circle-big {
    width: 19.5rem;
  } */
  /* End Latest New */
}
/* 1024px */
@media only screen and (min-width: 1024px) {
  /* Home Carousel */
  .section-carousel-banner .carousel .owl-nav .owl-prev {
    left: 4rem;
  }
  .section-carousel-banner .carousel .owl-nav .owl-next {
    right: 4rem;
  }
  .product a img {
    width: 20.7rem !important;
  }
  /* End Home Carousel */
  /* Home Product Company */
  /* .products .product a {
    width: 100%;
  }
  .products .product {
    width: 20%;
  } */
  /* End Home Product Company */
}
/* 1200px */
@media only screen and (min-width: 1200px) {
  /* Home Product Company */
  .product a .layer {
    width: 18rem;
    height: 12rem;
  }
  .products .product a img {
    bottom: -2.5rem;
  }
  .section-home-product .readmore {
    margin-top: 4rem;
  }
  /* End Home Product Company */
}

/* 1300px */
@media only screen and (min-width: 1400px) {
  .container {
    width: 140rem;
    max-width: 140rem;
  }
  header .navbar-nav li {
    margin-right: 5rem;
  }
  /* Home Product Company */
  .products .product a {
    width: 27rem;
    height: 18rem;
  }
  .product a .layer {
    width: 23rem;
    height: 16rem;
  }
  .products .product a img {
    bottom: 0;
    right: 3rem;
    width: 22rem !important;
  }
  /* End Home Product Company */
}
/* Animation */
@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes one {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 140;
  }
}

@keyframes appear {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
